@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Copperplate Light */
.copperplate-light-font {
  font-family: "copperplate", serif;
  font-weight: 300;
  font-style: normal;}

/* Copperplate Bold */
.copperplate-bold-font {
  font-family: "copperplate", serif;
  font-weight: 700;
  font-style: normal;
}

/* Copperplate Cond Light */
.copperplate-condensed-ligth-font {
  font-family: "copperplate-condensed", serif;
  font-weight: 300;
  font-style: normal;
}

/* Copperplate Cond Bold */
.copperplate-condensed-bold-font {
  font-family: "copperplate-condensed", serif;
  font-weight: 700;
  font-style: normal;
}